@media (max-width: 870px) {
      .nav_btn {
          display: block;
          position: fixed;
          top: 40px;
          right: 90px;
      }
  
      .nav.open .menu_ul {
          position: fixed;
          top: -50px;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgb(213, 212, 212);
          display: flex;
          flex-direction: column;
          row-gap: 40px;
          padding-top: 50px;
          padding-left: 40px;
          width: 100%;
          height: 400px;
      }

      #menu_ul:not(:target) {
        display: none;
      }
    
       #menu_ul:target {
        display: block;
      }

      .sir {
        display: block;
      }
  }
  